<nav class="navbar navbar-default navbar-fixed-bottom">

  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text navbar-left">&copy; Benjamin Spinola @ <a href="http://www.team2digital.de" class="navbar-link">TEAM2Digital</a></p>
      <p class="navbar-text navbar-right"><%= link_to 'Impressum', page_Impressum_path %></p>
      <p class="navbar-text navbar-right"><%= link_to 'Datenschutz', page_Datenschutz_path %></p>
    </div><!-- /.navbar-collapse -->


  </div>
</nav>