//Body
body > .container{
  padding-top: 60px;
  padding-bottom: 20px;
}


//Navbar
ul.nav a:hover { background-color: #8e8e8e !important; }

//remove margin for jumbotron (Startseite)
.jumbotron{
  margin-top: -80px !important;
  background-image: url('/assets/home-background.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
  background-color: #ffffff;
}

//Home Picture
.jumbotron > .container > h1,.jumbotron > .container > p,  {
  color: #ffffff;
  text-shadow: 2px 2px 6px black;
}